body {

    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #EEEEEE;


}

.template-container {
    background: #FFFFFF;
    width: 1110px;
    margin: 30px auto 0;
}



// primary button design
.primary-button {
    outline: none;
    line-height: 1;
    cursor: pointer;
    text-align: left;
    position: relative;
    border: 2px solid #199CDB;
    border-radius: 999px;
    display: inline-block;
    padding: 13px 30px 15px 30px;
    background-color: transparent;

    a {
        text-decoration: none;
        font-size: 14px;
        color: #1185D7;
    }
}

// primary button design

// headline part design
.headline-section {
    display: flex;
    align-items: center;
    padding: 0px 30px 20px;
    column-gap: 20px;
    margin: 40px 0px 20px 0px;


    .headline-numbers {
        width: 80px;
        height: 80px;
        padding: 3px;
        line-height: 80px;
        text-align: center;
        border-radius: 100%;
        background-color: #199CDB;
        color: #FFFFFF;

        span {
            font-size: 28px;
        }

        span+span {
            font-size: 16px;
        }
    }

    .headline-info h4 {
        color: #222222;
        font-size: 26px;
        font-weight: 400;
        margin: 0px;
        margin-bottom: 8px;
    }

    .headline-info h5 {
        font-size: 20px;
        font-weight: 300;
        color: #4A5F73;
        margin: 0;
    }
}

// headline part design

// header part style start here
header {
    padding: 40px 30px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
        display: inline-block;
        margin: 0;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 36px;
        line-height: 61px;
    }

    .header-button {
        float: right;
        display: block;
        background-color: #82B440;
        color: #FFF;
        padding: 16px 37px 17px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        text-decoration: none;
        font-family: 'DM Sans';
        transition: background-color 0.2s ease, border-color 0.2s ease;
        border: 2px solid #82B440;
    }
}

// header part style end here


// main part style start here
main {
    background: white;
    margin-left: 0;

}

.menubar-items {
    display: flex;
    justify-content: space-between;
    width: 60%;



    .item {
        list-style-type: none;

        a {
            text-decoration: none;
            font-weight: 700;
            font-family: 'DM Sans';
            font-size: 15px;
            line-height: 24px;
            text-decoration: none;
            color: #6F7687;
            padding: 0 0 2px 0;
            white-space: nowrap;
            border-radius: 5px;
            display: block;
            transition: color 0.2s ease 0s;
        }
    }
}


.demo-desc {
    color: #4B515A;
    background-color: #F5F6F7;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    text-align: left;

    .desc-item .title {
        color: #199CDB;
        font-weight: 700;
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}





// verhicle list style start here
.vehicle-list-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 20px;

    .item {
        flex-grow: 1;
        flex-basis: 140px;
        height: auto;
        cursor: pointer;
        border: 1px solid gray;
        text-align: center;
        margin: 0px 6px 12px 6px;
        padding: 10px 10px 30px 10px;
        border-radius: 4px;
    }

    .selected {
        background-color: #199CDB;
    }
}

.vehicle-list-type img {
    width: 60px;

}

// vehicle list style end here

// plan section start here
.vehicle-plans {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0px -15px 0px -15px;

    .vehicle-plan {
        flex-grow: 1;
        flex-basis: 210px;
        text-align: center;
        border: 1px solid #E2E6E7;
        position: relative;
        margin: 0px 15px 30px 15px;
        padding: 25px 20px 50px 20px;

        .plan-name {
            font-size: 24px;
            margin-top: 0px;
            margin-bottom: 20px;
            font-weight: 400;
            text-transform: capitalize;
            color: #222222;
        }

        .plan-price {
            margin-bottom: 30px;
            color: #199CDB;

            span {
                line-height: 1;
            }

            .plan-unit {
                top: 0px;
                font-size: 64px;
                font-weight: 300;
                position: relative;
            }

            .plan-currency,
            .plan-decimal {
                top: -28px;
                font-size: 24px;
                font-weight: 400;
                position: relative;
            }
        }

        .plan-duration {
            line-height: 1;
            border: 1px solid #E2E6E7;
            margin-bottom: 30px;
            padding: 15px 0px 15px 0px;
            border-width: 1px 0px 1px 0px;
            color: #4A5F73;
        }

        .plan-service-list {
            margin: 0;
            padding: 0;
            margin-bottom: 30px;

            li {
                color: #4A5F73;
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }
        }
    }
}

// plan section end here


// service section start here
.service-list-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 40px 0px 20px 0px;
    padding: 0px 30px 20px;

    .service-list-item {
        width: 100%;
        display: table;
        margin-top: -1px;
        border: 1px solid #E2E6E7;
        box-sizing: border-box;
        padding: 12px 20px 12px 20px;
        margin-left: 0;
        margin-right: 0;

        div {
            text-align: left;
            display: table-cell;
            vertical-align: middle;
        }

        .service-name {
            width: 55%;

            span {
                outline: none;
                color: #1185D7;
                font-size: 14px;
            }
        }

        .service-duration {
            width: 15%;
        }

        .service-price {
            width: 15%;
        }

        .primary-button {
            width: 10%;
            text-align: center;
        }
    }

    &+.service-more-button {
        .primary-button {
            display: block;
            width: 5%;
            text-align: center;
            margin: 0 auto;
        }
    }
}

// service section end here


// date and time section start here
.calendar-container {
    width: 90%;
    height: 300px;
    text-align: center;
    margin: 40px auto 20px;
    padding: 0px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 1px solid #E2E6E7;
}

// date and time section end here


// booking summary section start here
.booking-summary {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px auto 20px;
    padding: 0px 30px 20px;

    .booking-item {
        width: 45%;
        border: 1px solid #E2E6E7;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .booking-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .content-icon {
                color: #1185D7;
            }

            .booking-text {
                font-size: 15px;
                color: #4A5F73;
            }
        }

    }
}



// booking summary section end here

// main part style end here




.space-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}